[Unit]
Description=vlmcsd
After=network.target

[Service]
Type=forking
User=vlmcsd
WorkingDirectory=~
ExecStart=/usr/local/bin/vlmcsd -l /var/log/vlmcsd/vlmcsd.log

[Install]
WantedBy=multi-user.target
